body {
    background-color:rgba(46, 34, 21, 0.966);
}

h1 {
    color: rgb(243, 243, 231);
    font-family: "Ubuntu", "Brush Script MT", sans-serif;
    text-align: center;
    font-size: 50px;
}

.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    font-size: 24px;
    margin: 25px;
}

h4, li {
    color: rgb(243, 243, 231);
    font-family: "Ubuntu", "Brush Script MT", sans-serif;
}

h4 {
    font-size: 30px;
}

li {
    font-size: 22px;
}

a:visited {
    color: rgb(80, 80, 80);
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color:crimson;
    text-decoration: wavy;
}